<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ticket Management{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('tickets.manage_tickets') }}">Tickets</a></li>
               <a href="/saved-tickets">Saved Tickets</a> <!-- New Link -->
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
